/* line 18, ../scss/compiled.scss */
a {
  color: #2aa198;
}

/* line 22, ../scss/compiled.scss */
hr.custom {
  width: 80%;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 0;
}

/* line 29, ../scss/compiled.scss */
.menu {
  text-align: center;
}
/* line 31, ../scss/compiled.scss */
.menu i {
  margin-right: 5px;
}

/* line 36, ../scss/compiled.scss */
.articles {
  display: flex;
  flex-wrap: wrap;
}
/* line 39, ../scss/compiled.scss */
.articles .article {
  min-width: 400px;
  min-height: 150px;
  margin: 0 20px;
  display: flex;
  padding: 10px 0;
}
/* line 45, ../scss/compiled.scss */
.articles .article > img {
  margin-right: 30px;
}
/* line 48, ../scss/compiled.scss */
.articles .article p, .articles .article h3 {
  margin: 0;
}
/* line 52, ../scss/compiled.scss */
.articles .article .addtocard input {
  cursor: pointer;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
/* line 60, ../scss/compiled.scss */
.articles .article .addtocard .add {
  background: rgba(2, 114, 2, 0.3);
}
/* line 62, ../scss/compiled.scss */
.articles .article .addtocard .add:hover {
  background: rgba(2, 114, 2, 0.6);
}
/* line 66, ../scss/compiled.scss */
.articles .article .addtocard .remove {
  background: rgba(218, 0, 0, 0.3);
}
/* line 68, ../scss/compiled.scss */
.articles .article .addtocard .remove:hover {
  background: rgba(218, 0, 0, 0.6);
}

/* line 77, ../scss/compiled.scss */
.categories .categorie {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: background 250ms ease;
  -moz-transition: background 250ms ease;
  -ms-transition: background 250ms ease;
  -o-transition: background 250ms ease;
  transition: background 250ms ease;
}
/* line 86, ../scss/compiled.scss */
.categories .categorie em {
  color: #859900;
  margin-left: 20px;
}
/* line 90, ../scss/compiled.scss */
.categories .categorie:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 97, ../scss/compiled.scss */
.admin .interactive {
  display: flex;
  margin-top: 30px;
}
/* line 100, ../scss/compiled.scss */
.admin .interactive aside {
  margin-right: 20px;
}
/* line 102, ../scss/compiled.scss */
.admin .interactive aside h1 {
  cursor: pointer;
}
/* line 105, ../scss/compiled.scss */
.admin .interactive aside li {
  cursor: pointer;
}
/* line 109, ../scss/compiled.scss */
.admin .interactive .main {
  margin-left: 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 600px;
}
/* line 115, ../scss/compiled.scss */
.admin .interactive .main > div i {
  cursor: pointer;
}
/* line 118, ../scss/compiled.scss */
.admin .interactive .main > div i:first-child {
  margin-left: 20px;
  margin-right: 5px;
}
/* line 123, ../scss/compiled.scss */
.admin .interactive .main .user, .admin .interactive .main .order, .admin .interactive .main .categorie, .admin .interactive .main .article {
  text-align: right;
}

/* line 130, ../scss/compiled.scss */
.content {
  padding: 20px;
  margin-top: 42px;
  padding-bottom: 80px;
  background-color: #073642;
}
/* line 135, ../scss/compiled.scss */
.content > .main {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
  padding: 10px 30px;
}

/* line 142, ../scss/compiled.scss */
.selection {
  display: flex;
  margin-bottom: 10px;
}
/* line 145, ../scss/compiled.scss */
.selection input, .selection select {
  margin-right: 30px;
  max-width: 150px;
}

/* line 151, ../scss/compiled.scss */
.inscription {
  margin: 0 auto;
  max-width: 600px;
}

/* line 156, ../scss/compiled.scss */
.inscription input, select {
  margin-bottom: 10px;
}

/* line 161, ../scss/compiled.scss */
.panier-articles .article {
  display: flex;
  position: relative;
  height: 150px;
  padding: 10px;
  border-bottom: 1px solid rgba(101, 123, 131, 0.3);
}
/* line 167, ../scss/compiled.scss */
.panier-articles .article img {
  margin-right: 20px;
}
/* line 171, ../scss/compiled.scss */
.panier-articles .article .details h3 {
  margin: 0;
}
/* line 174, ../scss/compiled.scss */
.panier-articles .article .details .quantity {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  background-color: rgba(101, 123, 131, 0.3);
  color: #eee8d5;
}
