html, body {
	height: 100%;
	margin: 0;
	}

html {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #002b36;
	color:#839496;
}

table, thead, tbody, th, td, tr {
	display: block;
}

#plate {
	cursor: crosshair;
	box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
	margin-right: auto !important;
	margin-left: auto !important;
	border: solid 10px #839496;
	border-radius: 10px;
	top: 100px;
	width: 1600px;
	height: 1200px;
	margin-top: 5px;
	background-image: url("/attlestar/ressource/background/bg-1.jpg");
}
#alert{
	float: left;
	margin-left: 10px;
}

#chat {
	float: right;
	margin-right: 2%;
}

#chat iframe {
	height: 1200px;
	border: 2px solid #839496;
	border-radius: 10px;
}

td {
}

td:hover {
	background-color: #002b36;
}

table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	border: 1px solid gray;
}

/* Hide table headers (but not display: none;, for accessibility) */
.tile {
	/* Behave  like a "row" */
	position: relative;
	width: 11px;
	height: 11px;
	background-color: #707373;
	border: 1px solid #545558;
}

h1 {
	color: white;
}

button {
	width: 100%;
	height: 40px;
	background-color: #064E61;
	color: white;
	border: solid 1px white;
	border-radius: 5px;
	margin: 5px;
}

button:hover {
	background-color: #0A748F;
}

#ship {
	border: 5px solid #839496;
	border-radius: 5px;
	background-color: rgb(78, 78, 78);
	color: white;
	margin-bottom: 8px;
}

#ship #name {
	text-decoration: underline;
}

.hp {
	border: solid 2px rgb(160, 22, 22);
}

.pp {
	border: solid 2px rgb(39, 39, 136);
}
